/* style1.css */

body {
    font-family: "Poppins", sans-serif;
    background-color: #20262C;
    color: #beff00;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 90%;
    max-width: 1200px; /* Adjust max-width as needed */
    height: auto;
    background-color: white;
    color: black;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-x: auto; /* Enable horizontal scrolling for tables */
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.table-container {
    overflow-x: auto; /* Enable horizontal scrolling for tables */
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    table-layout: fixed; /* Ensure table width remains fixed */
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
    word-wrap: break-word; /* Wrap text within cells */
}

th {
    background-color: #f2f2f2;
    position: sticky; /* Keep the headers sticky */
    top: 0;
}

.pagination {
    margin-top: 20px;
    text-align: center;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    margin: 0 5px; /* Adjust spacing between pagination links */
}

.pagination a.active {
    background-color: dodgerblue;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination .disabled {
    pointer-events: none;
    color: #ccc;
}
